table {
	border-collapse: collapse;
	width: 80%;
}

th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #4CAF50;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

body{
  display: flex;
  align-items: center;
}